@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: 'MuseoSansCyrl';
  src: url('../fonts/MuseoSansCyrl/300.woff') format('woff');
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: 'MuseoSansCyrl';
  src: url('../fonts/MuseoSansCyrl/500.woff') format('woff');
}

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'MuseoSansCyrl';
  src: url('../fonts/MuseoSansCyrl/700.woff') format('woff');
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans/400.woff') format('woff');
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans/500.woff') format('woff');
}

@font-face {
  font-weight: 600;
  font-style: normal;
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans/600.woff') format('woff');
}
