/* fonts
------------------------------------------------------------------- */
@font-face {
    font-weight: 100;
    font-style: normal;
    font-family: 'MuseoSansCyrl';
    src: url('../assets/fonts/MuseoSansCyrl/100.woff') format('woff');
}

@font-face {
    font-weight: 100;
    font-style: italic;
    font-family: 'MuseoSansCyrl';
    src: url('../assets/fonts/MuseoSansCyrl/100-italic.woff') format('woff');
}

@font-face {
    font-weight: 300;
    font-style: normal;
    font-family: 'MuseoSansCyrl';
    src: url('../assets/fonts/MuseoSansCyrl/300.woff') format('woff');
}

@font-face {
    font-weight: 300;
    font-style: italic;
    font-family: 'MuseoSansCyrl';
    src: url('../assets/fonts/MuseoSansCyrl/300-italic.woff') format('woff');
}

@font-face {
    font-weight: 500;
    font-style: normal;
    font-family: 'MuseoSansCyrl';
    src: url('../assets/fonts/MuseoSansCyrl/500.woff') format('woff');
}

@font-face {
    font-weight: 500;
    font-style: italic;
    font-family: 'MuseoSansCyrl';
    src: url('../assets/fonts/MuseoSansCyrl/500-italic.woff') format('woff');
}

@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: 'MuseoSansCyrl';
    src: url('../assets/fonts/MuseoSansCyrl/700.woff') format('woff');
}

@font-face {
    font-weight: 700;
    font-style: italic;
    font-family: 'MuseoSansCyrl';
    src: url('../assets/fonts/MuseoSansCyrl/700-italic.woff') format('woff');
}

@font-face {
    font-weight: 900;
    font-style: normal;
    font-family: 'MuseoSansCyrl';
    src: url('../assets/fonts/MuseoSansCyrl/900.woff') format('woff');
}

@font-face {
    font-weight: 900;
    font-style: italic;
    font-family: 'MuseoSansCyrl';
    src: url('../assets/fonts/MuseoSansCyrl/900-italic.woff') format('woff');
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'OpenSans';
    src: url('../assets/fonts/OpenSans/400.woff') format('woff');
}

@font-face {
    font-weight: 500;
    font-style: normal;
    font-family: 'OpenSans';
    src: url('../assets/fonts/OpenSans/500.woff') format('woff');
}

@font-face {
    font-weight: 600;
    font-style: normal;
    font-family: 'OpenSans';
    src: url('../assets/fonts/OpenSans/600.woff') format('woff');
}

@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'Ubuntu';
    src: url('../assets/fonts/Ubuntu/400.woff') format('woff');
}

@font-face {
    font-weight: 500;
    font-style: normal;
    font-family: 'Ubuntu';
    src: url('../assets/fonts/Ubuntu/500.woff') format('woff');
}
