// @include clearfix();
@mixin clearfix() {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

// @include clear-ul();
@mixin clear-ul() {
    margin: 0;
    padding: 0;
    list-style: none;
}

// @include clear-btn();
@mixin clear-btn() {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: inherit;
    overflow: visible;
    padding: 0;
    -webkit-appearance: none;
    user-select: none;

    &::-moz-focus-inner,
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}

/* media mixins - mobile first*/
@mixin media-tablet {
    @media (min-width: #{$media-tablet}) {
        @content;
    }
}

@mixin media-desktop-s {
    @media (min-width: #{$media-desktop-s}) {
        @content;
    }
}

@mixin media-desktop-m {
    @media (min-width: #{$media-desktop-m}) {
        @content;
    }
}

@mixin media-desktop-l {
    @media (min-width: #{$media-desktop-l}) {
        @content;
    }
}

@mixin media-desktop-xl {
    @media (min-width: #{$media-desktop-xl}) {
        @content;
    }
}
