// colors
// ------------------------------------------------------------
$color-1:                 #ffffff;
$color-2:                 #000000;
$color-3:                 #333f48;
$color-4:                 #6b7f8e;
$color-5:                 #adb2b5;
$color-6:                 #93aec2;
$color-7:                 #f9f9fa;
$color-8:                 #323232;
$color-9:                 #115e8c;
$color-10:                #f3c501;
$color-11:                #8bc34a;
$color-12:                #212121;
$color-13:                #ff1817;
$color-14:                #ffc71e;
$color-15:                #ff7800;
$color-16:                #eceff1;
$color-17:                #727272;
$color-18:                #dadada;
$color-19:                #4d4d4d;
$color-20:                #9b9191;
$color-21:                #c9c9c9;
$color-22:                #3b3b3b;
$color-23:                #448aff;
$color-24:                #dbdbdb;
$color-25:                #71a436;
$color-26:                #f9f9fa;
$color-27:                #546E7A;
$color-28:                #9DDEF7;
$color-29:                #8BC34A;
$color-30:                #76AB38;
$color-31:                #FFC71E;
$color-32:                #FF781E;



// colors new
$color-white:             #fff;
$color-primary:           #FF7800;
$color-primary-hover:     #FF9D47;
$color-primary-active:    #CC6000;
$color-dark:              #333f48;
$color-background-dark:   #20272D;
$color-text:              #212121;
$color-elements:          #B8CFDA;
$color-success:           #8bc34a;
$color-success-hover:     #A2CF6E;
$color-success-active:    #6F9C3B;
$color-link:              #448aff;


// fonts
// ------------------------------------------------------------
$font-fallback: Arial, sans-serif;
$font: "OpenSans", $font-fallback;
$font-secondary: "MuseoSansCyrl", $font-fallback;



// media variables
// ------------------------------------------------------------
$media-tablet: 768px;
$media-desktop-s: 992px;
$media-desktop-m: 1200px;
$media-desktop-l: 1680px;
$media-desktop-xl: 2500px;
