/* block
------------------------------------------------------------------- */
.block {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    margin: 0 -15px;

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 224px;
        padding: 16px;
        overflow: auto;
        border-radius: 6px;
        background: $color-1;
        margin: 0 15px 30px;
        transition: box-shadow .3s;

        @media (min-width: 640px) {
            width: calc(50% - 30px);
        }

        @media (min-width: 900px) {
            width: calc(33.33% - 30px);
        }

        @media (min-width: 992px) {
            width: calc(50% - 30px);
        }

        @media (min-width: 1200px) {
            width: calc(33.33% - 30px);
        }

        @media (min-width: 1800px) {
            width: calc(25% - 30px);
        }

        @media (min-width: 2200px) {
            width: calc(20% - 30px);
        }

        @media (min-width: 2500px) {
            width: calc(16.66% - 16px);
        }

        @media (min-width: 1025px) {
            &:hover {
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
            }
        }
    }

    &__row {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 12px;

        &:first-child {
            margin-top: 0;
        }

        &--red {
            color: $color-13;
        }

        &--no-flex {
            display: block;
        }

        &--inline {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__column {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &--gray {
            color: $color-17;
        }
    }

    &__title {
        width: 100%;
        font-family: $font-secondary;
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 10px;
    }

    &__img {

        &--relative {
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;

            img {
              top: 0;
              right: 16px;
              bottom: 0;
              margin: auto;
              position: absolute;
            }
        }

        &_absolute {
            position: absolute;
            top: 70px;
            right: 20px;
        }
    }

    &__text {
        color: $color-1;
        font-size: 18px;
        margin-top: 16px;
        text-align: center;
    }

    &__plus {
        width: 36px;
        height: 36px;
        position: relative;

        &--line {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            position: absolute;
            width: 100%;
            height: 4px;
            border-radius: 3px;
            background: $color-11;

            &:last-child {
                transform: rotate(90deg);
            }
        }
    }

    &__add {
        width: 100%;
        color: $color-12;
        margin-top: 32px;
        text-align: center;
        text-transform: uppercase;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &--item {
            display: flex;
            margin-top: 20px;

            &:first-child {
                margin-top: 0;
            }

            &:before {
                content: '';
                width: 10px;
                height: 10px;
                margin-top: 4px;
                margin-right: 10px;
                border-radius: 100%;
            }
        }

        &--green:before {
            background: $color-11;
        }

        &--orange:before {
            background: $color-14;
        }
    }

    &__count {
        font-size: 24px;
        font-weight: 500;
        padding-top: 6px;
        font-family: 'Open Sans', sans-serif;

        &--red {
            color: $color-13
        }

        &--green {
            color: $color-11;
        }
    }

    &--end {
        align-items: flex-end;
    }

    &--center {
        justify-content: center;
    }

    &--blue {
        background: $color-9;
    }

    &--yellow {
        background: $color-10;
    }

    &__link-list {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
    }

    &__link {
        display: inline-block;
        color: #448AFF;
        transition: color .3s;
        font-weight: 600;

        &:hover {
            color: darken(#448AFF,10%);
        }

        & + & {
            margin-top: 10px;
        }
    }
}


// influence
// -------------------------------------------------------------------
