/* social
------------------------------------------------------------------- */
.social {
    justify-content: center;

    @media (max-width: 767px) {
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 36px !important;
    }

    &__link {
        display: flex;
        margin: 0 10px;
        font-size: 40px;
        color: $color-4;
        transition: color .3s;

        @media (max-width: 767px) {
            margin-top: 20px;
        }

        &:hover {
            color: $color-5;
        }
    }
}

// influence
// -------------------------------------------------------------------