/* title
------------------------------------------------------------------- */
.title {
    font-size: 24px;
    font-weight: 700;

    @media (max-width: 767px) {
        font-size: 22px;
    }

    &--small {
        font-size: 18px;
    }
}

// influence
// -------------------------------------------------------------------