@import 'dist/evo-ui-kit/styles/main.scss';

$colors: ('color-primary' $color-primary),
    ('color-secondary' $color-secondary),
    ('color-success' $color-success),
    ('color-secondary-light' $color-secondary-light),
    ('color-bonus' $color-bonus),
    ('color-background-grey' $color-background-grey),
    ('color-background-grey-dark', $color-background-grey-dark),
    ('color-highlight' $color-highlight),
    ('color-rating' $color-rating),
    ('color-primary-light' $color-primary-light),
    ('color-icon-light' $color-icon-light),
    ('color-icon-dark' $color-icon-dark),
    ('color-disabled' $color-disabled),
    ('color-disabled-text', $color-disabled-text),
    ('color-disabled-light', $color-disabled-light),
    ('color-text' $color-text),
    ('color-text-grey' $color-text-grey),
    ('color-caption-text' $color-caption-text),
    ('color-link' $color-link),
    ('color-error' $color-error),
    ('color-danger' $color-danger),
    ('color-white' $color-white),
    ('color-white-hover' $color-white-hover),
    ('color-black' $color-black),
    ('color-info' $color-info),
    ('color-primary-hover' $color-primary-hover),
    ('color-primary-active' $color-primary-active),
    ('color-success-hover' $color-success-hover),
    ('color-success-active' $color-success-active),
    ('color-bonus-hover' $color-bonus-hover),
    ('color-bonus-active' $color-bonus-active),
    ('color-link-hover' $color-link-hover),
    ('color-link-active' $color-link-active),
    ('color-error-hover' $color-error-hover),
    ('color-error-active' $color-error-active),
    ('color-grey-hover' $color-grey-hover),
    ('color-grey-active' $color-grey-active),
    ('color-icon-dark-hover' $color-icon-dark-hover),
    ('color-icon-dark-active' $color-icon-dark-active),
    ('color-graph-1' $color-graph-1),
    ('color-graph-2' $color-graph-2),
    ('color-graph-3' $color-graph-3),
    ('color-graph-4' $color-graph-4),
    ('color-graph-5' $color-graph-5),
    ('color-graph-6' $color-graph-6),
    ('color-graph-7' $color-graph-7),
    ('color-graph-8' $color-graph-8),
    ('color-graph-9' $color-graph-9),
    ('color-graph-10' $color-graph-10);

@function contrast-color($color) {
    // stylelint-disable-next-line
    @return if(lightness($color) < 55%, $color-white, $color-black)
}

.color-blocks {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 16px;

    .block {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px;
        color: $color-white;

        @each $colorName, $colorValue in $colors {
            &.#{$colorName} {
                color: contrast-color($colorValue);
                background: $colorValue;
            }
        }
    }
}
