.body {
    font-family: $font;
    font-size: 14px;
    line-height: 1.4;
    color: $color-2;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    padding-top: 80px;
    background: $color-7;
    min-width: 320px;

    @include media-desktop-s {
        padding-left: 240px;
    }

    @include media-desktop-l {
        padding-left: 300px;
    }
}

.mobile-show {
    @media (min-width: #{$media-tablet}) {
        display: none !important;
    }
}

.mobile-hide {
    @media (max-width: #{$media-tablet - 1px}) {
        display: none !important;
    }
}

.hidden {
    display: none !important;
}
