.main {
    flex: 1 0 auto;
    padding: 20px 15px;
    padding-top: 0;

    @include media-desktop-m {
        padding: 40px;
        padding-top: 0;
    }

    &--bg {
        position: relative;

        &:before {
            z-index: 10;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            position: absolute;
            background: rgba(0, 0, 0, .1);
            animation-duration: .3s;
            animation-fill-mode: both;
            animation-name: fadeIn;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

