* rsboarder@gmail.com
* andrey.g.matveev@gmail.com
projects/evo-ui-kit/src/lib/components/evo-alert  northfailer@gmail.com
projects/evo-ui-kit/src/lib/components/evo-banner  northfailer@gmail.com
projects/evo-ui-kit/src/lib/components/evo-checkbox  northfailer@gmail.com
projects/evo-ui-kit/src/lib/components/evo-control-error  northfailer@gmail.com
projects/evo-ui-kit/src/lib/components/evo-control-label  northfailer@gmail.com
projects/evo-ui-kit/src/lib/components/evo-input  northfailer@gmail.com
projects/evo-ui-kit/src/lib/components/evo-modal  northfailer@gmail.com
projects/evo-ui-kit/src/lib/components/evo-radio  northfailer@gmail.com
projects/evo-ui-kit/src/lib/components/evo-sidebar  northfailer@gmail.com
projects/evo-ui-kit/src/lib/components/evo-textarea  northfailer@gmail.com
projects/evo-ui-kit/src/lib/components/evo-toast  northfailer@gmail.com
projects/evo-ui-kit/src/lib/modules/evo-radioshape/  northfailer@gmail.com
projects/evo-ui-kit/src/lib/components/evo-datepicker treb-slava@list.ru
projects/evo-ui-kit/src/lib/components/evo-segmented-bar andrey.g.matveev@gmail.com
projects/evo-ui-kit/src/lib/modules/evo-icon pv@petrovvadim.com
projects/evo-ui-kit/src/lib/components/evo-select pv@petrovvadim.com
projects/evo-ui-kit/src/lib/components/evo-tabs pv@petrovvadim.com
projects/evo-ui-kit/src/lib/components/evo-stepper pv@petrovvadim.com
projects/evo-ui-kit/src/lib/components/evo-popover pv@petrovvadim.com
