<div class="search" [formGroup]="formModel">
    <evo-input placeholder="Search..." formControlName="search"></evo-input>
</div>

@if (searchResult) {
    <div class="icons-categories">
        @for (category of searchResult; track category.name) {
            @if (category.iconsNames.length) {
                <div class="icons-categories__item">
                    <h3 class="evo-title evo-title_h3">{{ category.name | titlecase }}</h3>
                    <div class="icons-grid">
                        @for (iconName of category.iconsNames; track iconName) {
                            <div tabindex="0" class="icons-grid__item" (click)="copyToClipBoard($event, iconName)">
                                <div class="icons-grid__item-icon">
                                    <evo-icon [shape]="iconName"></evo-icon>
                                </div>
                                <pre class="icons-grid__item-name">{{ iconName }}</pre>
                            </div>
                        }
                    </div>
                </div>
            }
        }
    </div>
}

@if (emptyResult) {
    <p class="not-found">Not found... 🤔</p>
}

<evo-toast class="toast"></evo-toast>
