<div class="search" [formGroup]="formModel">
    <evo-input placeholder="Search..." formControlName="search"></evo-input>
</div>

<div class="icons-categories" *ngIf="searchResult">
    <ng-container *ngFor="let category of searchResult">
        <div class="icons-categories__item" *ngIf="category.iconsNames.length">
            <h3 class="evo-title evo-title_h3">{{category.name | titlecase}}</h3>
            <div class="icons-grid">
                <div class="icons-grid__item" tabindex="0"
                    *ngFor="let iconName of category.iconsNames"
                    (click)="copyToClipBoard($event, iconName)"
                >
                    <div class="icons-grid__item-icon">
                        <evo-icon [shape]="iconName"></evo-icon>
                    </div>
                    <pre class="icons-grid__item-name">{{iconName}}</pre>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<p class="not-found" *ngIf="emptyResult">Not found... 🤔</p>

<evo-toast class="toast"></evo-toast>
