/*
Основной цвет
 */
$primary: #FF7800;
$primary-hover: #FF9D47;
$primary-press: #CC6000;

/**
Объекты на основном фоне $primary
*/
$primary-inverted: #FFFFFF;

/*
Для обозначений положительных действий
 */
$positive: #8BC34A;
$positive-hover: #A2CF6E;
$positive-press: #6F9C3B;

/*
Для обозначения действий с баллами
 */
$bonus: #AB4AC3;
$bonus-hover: #CC58E8;
$bonus-press: #9335AB;

/**
Все остальные кнопки
 */
$secondary: #546E7A;
$secondary-hover: #546E7A;
$secondary-press: #283239;

/**
Для обозначения что компонент не доступен
 */
$disabled: #D6D6D6;


:host {

  outline: 0;
  text-transform: uppercase;
  border-radius: 100px;
  cursor: pointer;
  margin: 20px;

  /**
  Маленькая кнопка
   */
  &.small-size{
    height: 30px;
    min-width: 75px;
    padding: 0px 20px 0px 20px;
  }

  /**
  Стандартная кнопка
   */
  &.standard-size{
    height: 44px;
    min-width: 100px;
    padding: 0px 30px 0px 30px;
  }

  /**
  Большая кнопка
   */
  &.big-size{
    height: 60px;
    min-width: 125px;
    padding: 0px 40px 0px 40px;
  }

  /**
  Основная кнопка используемая для действий
   */
  &.primary-type{

    background: $primary;
    color: $primary-inverted;
    border: none;

    &:hover{
      background: $primary-hover;
    }

    &:active{
      background: $primary-press;
    }

  }

  /**
  Второстепенная, или если действий несколько
   */
  &.primary-inverted-type{
    background:  $primary-inverted;
    color: $primary;
    border: 1px solid $primary;
    box-sizing: border-box;

    &:hover{
      background: $primary;
      color: $primary-inverted;
      border-color: $primary;
    }

    &:active{
      background: $primary-press;
      color: $primary-inverted;
      border-color: $primary-press;
    }
  }

  /**
  Для обозначений положительных действий, пополнить например
   */
  &.positive-type{
    background: $positive;
    color: $primary-inverted;
    border: none;

    &:hover{
      background: $positive-hover;
    }

    &:active{
      background: $positive-press;
    }
  }

  /**
  Второстепенные, или если действий несколько
   */
  &.positive-inverted-type{
    background: $primary-inverted;
    color: $positive;
    border: 1px solid $positive;

    &:hover{
      background: $positive;
      color: $primary-inverted;
      border-color: $positive;
    }

    &:active{
      background: $positive-press;
      color: $primary-inverted;
      border-color: $positive-press;
    }
  }

  /**
  Для обозначения действий с баллами
   */
  &.bonus-type{
    background: $bonus;
    color: $primary-inverted;
    border: none;

    &:hover{
      background: $bonus-hover;
    }

    &:active{
      background: $bonus-press;
    }
  }

  /**
  Для всех остальных действий
   */
  &.secondary-type{
    background: $primary-inverted;
    color: $secondary;
    border: 1px solid $secondary;

    &:hover{
      background: $secondary;
      color: $primary-inverted;
      border-color: $secondary;
    }

    &:active{
      background: $secondary-press;
      color: $primary-inverted;
      border-color: $secondary-press;
    }
  }
}


