@import 'dist/evo-ui-kit/styles/main.scss';

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
    color: $color-white;
}

.color-white {
    color: $color-text;
    background-color: $color-white;
}

.color-primary {
    background-color: $color-primary;
}

.color-primary-hover {
    background-color: $color-primary-hover;
}

.color-primary-active {
    background-color: $color-primary-active;
}

.color-secondary-2 {
    background-color: $color-icon-dark;
}

.color-dark {
    background-color: $color-text;
}

.color-background-dark {
    background-color: $color-secondary;
}

.color-success {
    background-color: $color-success;
}

.color-success-hover {
    background-color: $color-success-hover;
}

.color-success-active {
    background-color: $color-success-active;
}

.color-error {
    background-color: $color-error;
}

.color-text {
    background-color: $color-text;
}

.color-text-subscription {
    background-color: $color-caption-text;
}

.color-link {
    background-color: $color-link;
}

.color-link-active {
    background-color: $color-link-active;
}

.color-border {
    background-color: $color-disabled;
}

.color-bonus {
    background-color: $color-bonus;
}

.color-disabled {
    background-color: $color-disabled;
}

.color-highlight {
    color: $color-text;
    background-color: $color-highlight;
}

.color-graph-1 {
    background-color: $color-graph-1;
}

.color-graph-2 {
    background-color: $color-graph-2;
}

.color-graph-3 {
    background-color: $color-graph-3;
}

.color-graph-4 {
    background-color: $color-graph-4;
}

.color-graph-5 {
    background-color: $color-graph-5;
}

.color-graph-6 {
    background-color: $color-graph-6;
}

.color-graph-7 {
    background-color: $color-graph-7;
}

.color-graph-8 {
    background-color: $color-graph-8;
}

.color-graph-9 {
    background-color: $color-graph-9;
}

.color-graph-10 {
    background-color: $color-graph-10;
}
