<!--<div>-->
<!--<button evo-button="primary" size="small">где купить</button>-->
<!--<button evo-button="primary-inverted" size="small">где купить</button>-->
<!--<button evo-button="positive" size="small">где купить</button>-->
<!--<button evo-button="positive-inverted" size="small">где купить</button>-->
<!--<button evo-button="bonus" size="small">где купить</button>-->
<!--<button evo-button="secondary" size="small">где купить</button>-->
<!--</div>-->
<!--<div>-->
<!--<button evo-button="primary" size="standard">где купить</button>-->
<!--<button evo-button="primary-inverted" size="standard">где купить</button>-->
<!--<button evo-button="positive" size="standard">где купить</button>-->
<!--<button evo-button="positive-inverted" size="standard">где купить</button>-->
<!--<button evo-button="bonus" size="standard">где купить</button>-->
<!--<button evo-button="secondary" size="standard">где купить</button>-->
<!--</div>-->
<!--<div>-->
<!--<button evo-button="primary" size="big">где купить</button>-->
<!--<button evo-button="primary-inverted" size="big">где купить</button>-->
<!--<button evo-button="positive" size="big">где купить</button>-->
<!--<button evo-button="positive-inverted" size="big">где купить</button>-->
<!--<button evo-button="bonus" size="big">где купить</button>-->
<!--<button evo-button="secondary" size="big">где купить</button>-->
<!--</div>-->

<h1 class="ui-title ui-title_h1">UI KIT Demo</h1>

<h2 class="demo-title">Кнопки</h2>

<p>
    <button class="ui-button">кнопка</button>
    <button class="ui-button" disabled>кнопка</button>
    <button class="ui-button ui-button_small">кнопка</button>
    <button class="ui-button ui-button_large">кнопка</button>
</p>

<p>
    <button class="ui-button">кнопка</button>
    <button class="ui-button ui-button_lined">кнопка</button>
    <button class="ui-button ui-button_darkblue">кнопка</button>
    <button class="ui-button ui-button_darkblue-lined">кнопка</button>
    <button class="ui-button ui-button_green">кнопка</button>
    <button class="ui-button ui-button_green-lined">кнопка</button>
    <button class="ui-button ui-button_purple">кнопка</button>
    <button class="card-button ui-button ui-button_icon">
        <svg mlns="http://www.w3.org/2000/svg" width="25px" height="21px" viewBox="0 0 25 21">
            <path fill="currentColor"
                  d="M8.2,15c-1.7,0-3,1.3-3,3s1.3,3,3,3s3-1.3,3-3S9.9,15,8.2,15z M8.2,19c-0.6,0-1-0.4-1-1s0.4-1,1-1s1,0.4,1,1S8.8,19,8.2,19z"/>
            <path fill="currentColor"
                  d="M18.2,15c-1.7,0-3,1.3-3,3s1.3,3,3,3s3-1.3,3-3S19.9,15,18.2,15z M18.2,19c-0.6,0-1-0.4-1-1s0.4-1,1-1s1,0.4,1,1S18.8,19,18.2,19z"/>
            <path fill="currentColor"
                  d="M23.8,3H2.9c0,0,0,0,0,0l-1-2.4C1.7,0.1,1.1-0.1,0.6,0.1C0.1,0.3-0.1,0.9,0.1,1.4l5.2,13c0.2,0.4,0.5,0.6,1,0.6h14c0.6,0,1-0.4,1-1c0-0.6-0.4-1-1-1H6.9l-0.8-2h14.7c0.8,0,1.6-0.5,1.9-1.3l2.1-5.4C25,3.7,24.5,3,23.8,3z"/>
        </svg>
    </button>
</p>

<h2 class="demo-title">Заголовки</h2>

<h1 class="ui-title ui-title_h1">Заголовок H1</h1>
<h2 class="ui-title ui-title_h2">Заголовок H2</h2>
<h3 class="ui-title ui-title_h3">Заголовок H3</h3>
<h4 class="ui-title ui-title_h4">Заголовок H4</h4>

<h2 class="demo-title">Ссылка</h2>

<p>
    <a href="#" class="ui-link">Ссылка</a>
</p>
<p>
    <a href="#" class="ui-link ui-link_dashed">Ссылка подсказка</a>
</p>


<h2 class="demo-title">Поле ввода</h2>

<div class="demo-input-wrapper">
    <input type="text" class="ui-form-control">
</div>
<div class="demo-input-wrapper">
    <input type="text" class="ui-form-control" disabled value="Текст">
</div>
<div class="demo-input-wrapper">
    <input type="text" class="ui-form-control" value="Текст">
    <div class="ui-form-control-text">Подсказка</div>
</div>
<div class="demo-input-wrapper">
    <input type="text" class="ui-form-control ui-form-control_error" value="Текст">
    <div class="ui-form-control-text ui-form-control-text_error">Текст ошибки</div>
</div>
<div class="demo-input-wrapper">
    <input type="text" class="ui-form-control ui-form-control_success" value="Текст">
</div>


<div class="ui-modal ui-modal_active">
    <div class="ui-modal__header">
        <div class="ui-modal__title">Заголовок</div>

        <div class="ui-modal__close">
            <div class="ui-modal__close-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M14.9,12l8.6-8.6c0.8-0.8,0.8-2.1,0-2.9c-0.8-0.8-2.1-0.8-2.9,0L12,9.1L3.4,0.6
                        c-0.8-0.8-2.1-0.8-2.9,0c-0.8,0.8-0.8,2.1,0,2.9L9.1,12l-8.6,8.6c-0.8,0.8-0.8,2.1,0,2.9c0.8,0.8,2.1,0.8,2.9,0l8.6-8.6l8.6,8.6
                        c0.8,0.8,2.1,0.8,2.9,0c0.8-0.8,0.8-2.1,0-2.9L14.9,12z"/>
                </svg>
            </div>
        </div>
    </div>

    <div class="ui-modal__content">
        Контент

        <div class="ui-modal__buttons">
            <button class="ui-modal__button ui-button ui-button_darkblue-lined">отмена</button>
            <button class="ui-modal__button ui-button">сохранить</button>
        </div>
    </div>

    <div class="ui-modal__footer">
        <button class="ui-modal__button ui-button ui-button_darkblue-lined">отмена</button>
        <button class="ui-modal__button ui-button">сохранить</button>
    </div>
</div>
