@import '../../projects/evo-ui-kit/src/lib/styles/_variables.scss';
@import '../../projects/evo-ui-kit/src/lib/styles/_mixins.scss';

.orange-bg {
  background-color: #FF7800;
}

.element {
  padding-bottom: $padding-large;

  &__title {
    padding-bottom: $padding-small;
  }
}

.evo-cards {
  display: flex;
  flex-direction: column;

  @include media-desktop-s {
    flex-direction: row;
  }
}