@import '../../projects/evo-ui-kit/src/lib/styles/variables.scss';
@import '../../projects/evo-ui-kit/src/lib/styles/mixins.scss';

.orange-bg {
    background-color: #ff7800;
}

.element {
    padding-bottom: $padding-large;

    &__title {
        padding-bottom: $padding-small;
    }
}

.evo-cards {
    display: flex;
    flex-direction: column;

    @include media-desktop-s {
        flex-direction: row;
    }
}
