<div class="container">
  <div class="element">
    <div class="element__title">
      <h1>Карточка</h1>
    </div>
    <div class="element__example">
      <div class="evo-cards">
        <evo-card>
          <evo-card--title>Заголовок</evo-card--title>
          <evo-card--content>Содержание</evo-card--content>
          <evo-card--footer>
            <evo-button size="full-width">Действие!</evo-button>
          </evo-card--footer>
        </evo-card>
        <evo-card>
          <evo-card--title>
            <img src="/assets/sberbank.png">
          </evo-card--title>
          <evo-card--content>Содержание</evo-card--content>
          <evo-card--footer>
            <evo-button size="full-width">Действие!</evo-button>
          </evo-card--footer>
        </evo-card>
      </div>
    </div>
  </div>

  <div class="element">
    <div class="element__title">
      <h1>Список</h1>
    </div>
    <div class="element__example">
      <evo-list>
        <li>item 1</li>
        <li>item 2</li>
        <li>item 3</li>
      </evo-list>
    </div>
  </div>
</div>
<!-- <evo-button>Кликни меня</evo-button>

<form [formGroup]="sampleForm">
  <evo-checkbox formControlName="sampleCheckbox">Я согласен получать новости и статьи</evo-checkbox>
  <evo-control-error [errors]="{test: true}" [errorsMessages]="{test: 'Тест!'}"></evo-control-error>
  <evo-input formControlName="sampleText"></evo-input>
  <evo-banner></evo-banner>
</form> -->
