<h1 class="evo-title evo-title_h1">Асинхронный режим</h1>

<evo-file-upload
    (addFiles)="onAddFiles($event)"
    [asyncMode]="asyncMode"
    [maxFilesCount]="2"
    fileName="Копия паспорта"
    maxFileListSize="2.5mb"
    maxFileSize="1.5mb"
>
    <evo-file
        (deleteFile)="onDeleteFile(index)"
        *ngFor="let fileItem of files$ | async; index as index"
        [fileSize]="fileItem.fileSize"
        [isClickableFile]="fileItem.isClickableFile"
        [label]="fileItem.label"
        [status]="fileItem.status"
        [uploadedPercentages]="fileItem.loadedPercentages"
        (cancelUploadFile)="onCancelUpload(fileItem)"
        (refreshUploadFile)="mockUpload(fileItem)"
    ></evo-file>
</evo-file-upload>
