<evo-modal id="test0" acceptText="Да" declineText="Нет" titleText="Вы точно хотите удалить приложение?">
    <evo-icon shape="alert" style="fill: #c00"></evo-icon>
</evo-modal>

<evo-modal id="test1" acceptText="Ok" declineText="Cancel" titleText="Модальное окно с объёмным содержанием">
    <p>Реферат по литературоведению</p>
    <p>Тема: «Лирический анжамбеман: гипотеза и теории»</p>
    <p>
        Ритм притягивает деструктивный дискурс. Стилистическая игра, как бы это ни казалось парадоксальным, отталкивает
        поэтический метаязык.
    </p>
    <p>
        Обычная литература, перенесенная в Сеть, не является "сетературой" в смысле отдельного жанра, однако
        сумароковская школа выбирает конструктивный абстракционизм.
    </p>
    <p>
        Звукопись пространственно начинает строфоид. Диалогичность, согласно традиционным представлениям, откровенна.
        Нарративная семиотика, как бы это ни казалось парадоксальным, жизненно приводит скрытый смысл.
    </p>
    <p>
        Впечатление интегрирует подтекст. Брахикаталектический стих неравномерен. Стилистическая игра абсурдно
        притягивает метафоричный скрытый смысл. Парафраз интегрирует мифологический размер.
    </p>
    <p>Заимствование редуцирует не-текст, и это придает ему свое звучание, свой характер.</p>
    <p>
        Правило альтернанса представляет собой конструктивный дискурс, однако дальнейшее развитие приемов декодирования
        мы находим в работах академика В.Виноградова.
    </p>
    <p>Тема: «Лирический анжамбеман: гипотеза и теории»</p>
    <p>
        Ритм притягивает деструктивный дискурс. Стилистическая игра, как бы это ни казалось парадоксальным, отталкивает
        поэтический метаязык.
    </p>
    <p>
        Обычная литература, перенесенная в Сеть, не является "сетературой" в смысле отдельного жанра, однако
        сумароковская школа выбирает конструктивный абстракционизм.
    </p>
    <p>
        Звукопись пространственно начинает строфоид. Диалогичность, согласно традиционным представлениям, откровенна.
        Нарративная семиотика, как бы это ни казалось парадоксальным, жизненно приводит скрытый смысл.
    </p>
    <p>
        Впечатление интегрирует подтекст. Брахикаталектический стих неравномерен. Стилистическая игра абсурдно
        притягивает метафоричный скрытый смысл. Парафраз интегрирует мифологический размер.
    </p>
    <p>Заимствование редуцирует не-текст, и это придает ему свое звучание, свой характер.</p>
    <p>
        Правило альтернанса представляет собой конструктивный дискурс, однако дальнейшее развитие приемов декодирования
        мы находим в работах академика В.Виноградова.
    </p>
    <p>Тема: «Лирический анжамбеман: гипотеза и теории»</p>
    <p>
        Ритм притягивает деструктивный дискурс. Стилистическая игра, как бы это ни казалось парадоксальным, отталкивает
        поэтический метаязык.
    </p>
    <p>
        Обычная литература, перенесенная в Сеть, не является "сетературой" в смысле отдельного жанра, однако
        сумароковская школа выбирает конструктивный абстракционизм.
    </p>
    <p>
        Звукопись пространственно начинает строфоид. Диалогичность, согласно традиционным представлениям, откровенна.
        Нарративная семиотика, как бы это ни казалось парадоксальным, жизненно приводит скрытый смысл.
    </p>
    <p>
        Впечатление интегрирует подтекст. Брахикаталектический стих неравномерен. Стилистическая игра абсурдно
        притягивает метафоричный скрытый смысл. Парафраз интегрирует мифологический размер.
    </p>
    <p>Заимствование редуцирует не-текст, и это придает ему свое звучание, свой характер.</p>
    <p>
        Правило альтернанса представляет собой конструктивный дискурс, однако дальнейшее развитие приемов декодирования
        мы находим в работах академика В.Виноградова.
    </p>
    <p>Тема: «Лирический анжамбеман: гипотеза и теории»</p>
    <p>
        Ритм притягивает деструктивный дискурс. Стилистическая игра, как бы это ни казалось парадоксальным, отталкивает
        поэтический метаязык.
    </p>
    <p>
        Обычная литература, перенесенная в Сеть, не является "сетературой" в смысле отдельного жанра, однако
        сумароковская школа выбирает конструктивный абстракционизм.
    </p>
    <p>
        Звукопись пространственно начинает строфоид. Диалогичность, согласно традиционным представлениям, откровенна.
        Нарративная семиотика, как бы это ни казалось парадоксальным, жизненно приводит скрытый смысл.
    </p>
    <p>
        Впечатление интегрирует подтекст. Брахикаталектический стих неравномерен. Стилистическая игра абсурдно
        притягивает метафоричный скрытый смысл. Парафраз интегрирует мифологический размер.
    </p>
    <p>Заимствование редуцирует не-текст, и это придает ему свое звучание, свой характер.</p>
    <p>
        Правило альтернанса представляет собой конструктивный дискурс, однако дальнейшее развитие приемов декодирования
        мы находим в работах академика В.Виноградова.
    </p>
    <p>Тема: «Лирический анжамбеман: гипотеза и теории»</p>
    <p>
        Ритм притягивает деструктивный дискурс. Стилистическая игра, как бы это ни казалось парадоксальным, отталкивает
        поэтический метаязык.
    </p>
    <p>
        Обычная литература, перенесенная в Сеть, не является "сетературой" в смысле отдельного жанра, однако
        сумароковская школа выбирает конструктивный абстракционизм.
    </p>
    <p>
        Звукопись пространственно начинает строфоид. Диалогичность, согласно традиционным представлениям, откровенна.
        Нарративная семиотика, как бы это ни казалось парадоксальным, жизненно приводит скрытый смысл.
    </p>
    <p>
        Впечатление интегрирует подтекст. Брахикаталектический стих неравномерен. Стилистическая игра абсурдно
        притягивает метафоричный скрытый смысл. Парафраз интегрирует мифологический размер.
    </p>
    <p>Заимствование редуцирует не-текст, и это придает ему свое звучание, свой характер.</p>
    <p>
        Правило альтернанса представляет собой конструктивный дискурс, однако дальнейшее развитие приемов декодирования
        мы находим в работах академика В.Виноградова.
    </p>
</evo-modal>

<evo-modal
    id="test2"
    acceptText="Ok"
    declineText="Cancel"
    titleText="Модальное окно с асинхронным вызовом"
    [asyncAccept]="asyncAction"
></evo-modal>

<evo-modal
    id="test4"
    acceptText="Ok"
    declineText="Cancel"
    titleText="Модальное окно с ошибкой асинхронного вызова"
    [asyncAccept]="getAsyncActionFail('test4')"
>
    <p>При ошибке асинхронного вызова модальное окно не закрывается автоматически.</p>
    <p>
        Закрытие данного окна реализовано при помощи пайпа
        <code>catchError</code>
        .
    </p>
</evo-modal>

<evo-modal id="test3" acceptText="Ok" titleText="Модальное окно без кнопки отмена">
    <p>Это окно не закрывается по клавише Escape и по клику на серый фон</p>
</evo-modal>

<button evoButton (click)="openModal('test0')">Окно с иконкой</button>
<br />
<br />
<button evoButton (click)="openModal('test1')">Окно с объёмным контентом</button>
<br />
<br />
<button evoButton (click)="openModal('test2')">Окно с асинхронным вызовом</button>
<br />
<br />
<button evoButton (click)="openModal('test4')">Окно с ошибочным асинхронным вызовом</button>
<br />
<br />
<button evoButton (click)="openModal('test3')">Окно без кнопки отмена</button>
<br />
<br />
